#####################################################################################
# Generated
#####################################################################################

## SvelteKit outputs.
.svelte-kit/
build/

## CDK outputs.
cdk.out/


#####################################################################################
# Development Environment
#####################################################################################

## Local SQLite database.
prisma/dev.db
