#####################################################################################
# Generated
#####################################################################################

## SvelteKit outputs.
.svelte-kit/
build/


#####################################################################################
# Development Environment
#####################################################################################

## Local SQLite database.
prisma/dev.db
